{% extends 'base.html' %}

{% block content %}
<section id="detail">
    <h1>장바구니 상세 페이지</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit Price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% width product = item.product %}
            <tr>
                <td>
                    <img src="{{ product.image.url }}">
                </td>
                <td>{{ product.name }}</td>
                <td>수량</td>
                <td>Remove</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total_price }}</td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}